.chat-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #eee;
}
.chat-content{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 46px 0 54px 0;
  box-sizing: border-box;
  /*background-image: url($path + '/img/chat_bg.jpg');*/
  background-size: cover;
}

.enter-msg{
  flex: 1;
  padding: 0 5px;
  input{
    display: block;
    width: 100%;
    height: 28px;
  }
}
.send-msg{
  padding-left: 8px;
  button{
    border: 0;
    background-color: $green;
    color: white;
    font-size: 12px;
    padding: 5px 20px 6px;
    border-radius: 2px;
  }
}
.chat-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0 15px;
  height: 54px;
  align-items: center;
  border-top: 1px solid #ccc;
  background-color: #e3e3e3;
}
.chat-name{
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #fefefe;
  background-color: forestgreen;
}

/**/

.add-item{
  display: flex;
  align-items: center;
  border-bottom: 1px solid $tintDark;
  &:nth-last-child(1){
    border-bottom: 0;
  }
}
.add-item-left{
  padding-right: 18px;
}
.add-head{
  position: relative;
}
.add-select{
  position: absolute;
  top: 100%;
  right:-8px;
  color: #ffffff;
  min-width: 150px;
  background-color: $dark;
  transform: translateY(8px);
  border-radius: 5px;
  padding-left: 15px;
  box-sizing: border-box;
}
.arrow-add{
  width:0;
  height:0;
  border-bottom: 8px solid $dark;
  /*border-top: 5px solid #fff;*/
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-radius: 2px;
  position: absolute;
  top: -7px;
  right: 10px;
}
/*好友列表*/
.line{
  border-bottom: 1px solid $tintDark;
}
.friend-item{
  display: flex;
  height: 36px;
  align-items: center;
  .friend-name{
    margin-bottom: 0;
    font-size: $font;
    margin-top: 2px;
  }
}
.friend-head{
  width: 30px;
  height: 30px;
  margin-right: 20px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.friend-chat{
  flex: 1;
}

